<p id="notice"><%= notice %></p>

<p>
  <strong>Nombrecomun parte:</strong>
  <%= @part.nombreComun_parte %>
</p>

<p>
  <strong>Precio parte:</strong>
  <%= @part.precio_parte %>
</p>

<p>
  <strong>Order:</strong>
  <%= @part.order %>
</p>

<p>
  <strong>Devisemodel:</strong>
  <%= @part.deviseModel %>
</p>

<%= link_to 'Edit', edit_part_path(@part) %> |
<%= link_to 'Back', parts_path %>
