<div class="container-fluid">
	<div class="row">
		<div class="d-flex w-100 h-100 flex-column justify-content-start">
			  <!-- <p><%= @company.logo%></p> -->
              <h2><%= @company.nombre%></h2>
              <p><%= @company.razonsocial%> - <%= @company.cif%></p>
              <p><%= @company.direccion%> <%= @company.cp%> - Gandia </p>
              <p> Telf: <%= @company.telefono%></p>
		</div>
	</div>
</div>