	<div class="nested-fields">
		<%= f.input :nombre_art %>
	    <%= f.input :descripcion_art %>
	    <%= f.input :baseimponible_prec %>
	    <%= f.input :ivaimponible_prec %>
	    <%= f.input :total_prec %>
	 
		<%= link_to_remove_association "Eliminar articulo", f %>
	</div>