<p id="notice"><%= notice %></p>

<p>
  <strong>Nombrecomercial modelo:</strong>
  <%= @devise_model.nombrecomercial_modelo %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @devise_model.manufacturer %>
</p>

<%= link_to 'Edit', edit_devise_model_path(@devise_model) %> |
<%= link_to 'Back', devise_models_path %>
