<%= simple_form_for(@customer) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nombre_apellido1 %>
    <%= f.input :nombre_apellido2 %>
    <%= f.input :nombre_primero %>
    <%= f.input :dni %>
    <%= f.input :direccion_completa %>
    <%= f.input :cp %>
    <%= f.input :ppoblacion %>
    <%= f.input :formapago_hab %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
