<p id="notice"><%= notice %></p>

<h1>Customers</h1>

<table>
  <thead>
    <tr>
      <th>Nombre apellido1</th>
      <th>Nombre apellido2</th>
      <th>Nombre primero</th>
      <th>Dni</th>
      <th>Direccion completa</th>
      <th>Cp</th>
      <th>Ppoblacion</th>
      <th>Formapago hab</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.nombre_apellido1 %></td>
        <td><%= customer.nombre_apellido2 %></td>
        <td><%= customer.nombre_primero %></td>
        <td><%= customer.dni %></td>
        <td><%= customer.direccion_completa %></td>
        <td><%= customer.cp %></td>
        <td><%= customer.ppoblacion %></td>
        <td><%= customer.formapago_hab %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
