<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha pedido:</strong>
  <%= @order.fecha_pedido %>
</p>

<p>
  <strong>Valor pedido:</strong>
  <p><%= @order.valorPedido %> €</p>
</p>

<p>
  <strong>Provider:</strong>
  <%= @order.provider.nombre_proveedor %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
