<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @mintest.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @mintest.descripcion %>
</p>

<%= link_to 'Edit', edit_mintest_path(@mintest) %> |
<%= link_to 'Back', mintests_path %>
