<%= simple_form_for(@manufacturer) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nombre_fabricante %>
    <%= f.association :family , label_method: :nombre_familia%>
  </div>

  <div class="form-actions">
      <%= f.submit 'Nuevo Fabricante'%>
  </div>
<% end %>
