<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre fabricante:</strong>
  <%= @manufacturer.nombre_fabricante %>
</p>

<p>
  <strong>Famiily:</strong>
  <%= @manufacturer.famiily %>
</p>

<%= link_to 'Edit', edit_manufacturer_path(@manufacturer) %> |
<%= link_to 'Back', manufacturers_path %>
