<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a href="" class="navbar-brand">Reparify</a>
    <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="navbar-item active"></li>
          <%=link_to 'Partes',parts_path, :class => 'nav-link'%>
      <li class="navbar-item"></li>
          <%=link_to 'Modelo',devise_models_path, :class => 'nav-link'%>
      <li class="navbar-item"></li>
          <%=link_to 'Familias',families_path, :class => 'nav-link'%>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="buscar" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
      <ul class="nav navbar-nav navbar-right">
        <li class="navbar-item dropdown">
          <a href="#" class="nav-linkdropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <button class="btn btn-outline-success my-2 my-sm-0"><%=current_user.email%></button>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'Salir', destroy_user_session_path ,method: :delete, :class => 'dropdown-item'%>
          </div>
        </li>
      </ul>
    </form>
  </div>
</nav>